#map {
    width: 100%;
    height: 100%;
}


.leaflet-control-layers-list input {
    cursor: pointer;
}

.leaflet-touch .leaflet-control-layers-toggle,
.leaflet-control-custom {
    width: 30px;
    height: 30px;
    background-size: 20px;
}

.leaflet-control-custom {
    font-size: 22px;
    text-align: center;
    cursor: pointer;
}

.leaflet-control-layers.selected {
    background-color: orange;
    color: white;
}

.leaflet-popup-close-button {
    display: none;
}

.leaflet-popup-content-wrapper {
    border-radius: 0;
}